<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{ABSOLUTE} %-5p [Thread:%t] [%C:%L] [Function:%M]:%X{taskId} %m%n"/>
        </layout>
    </appender>

    <appender name="ASYNC_CONSOLE" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="8192"/>
        <appender-ref ref="CONSOLE"/>
    </appender>
    <appender name="DEFAULT_FILE" class="com.unionpay.taskmonitor.utils.CustomDailyRollingFileAppender">
        <!-- 自定义日志输出路径和名称 -->
        <param name="file" value="taskmonitor/taskmonitor-log/Logger-out.log" />
        <!-- 自定义历史日志文件后缀名 -->
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
        <!-- 自定义日志文件总数量，大于这个数量，自动删除 -->
        <param name="maxBackupIndex" value="4" />
        <param name="append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [Thread:%t] [%C:%L] [Function:%M]:%m%n" />
        </layout>
    </appender>
    <logger name="org.apache.http">
        <level value="error"/>
    </logger>
    <root>
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DEFAULT_FILE"/>
    </root>
</log4j:configuration>
